In [1]:
import pandas as pd
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation
%matplotlib inline 
sns.set(color_codes=True)

In [2]:
dataset  = pd.read_csv('dataset/winequality-white.csv',header = 0)

In [3]:
dataset.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [4]:
dataset  = pd.read_csv('dataset/winequality-white.csv',sep=';',header = 0)

In [5]:
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
dataset.shape

(4898, 12)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

# Sorting data

In [17]:
data_sorted = dataset.sort_values(['volatile acidity','citric acid'], ascending=False)

In [19]:
data_sorted.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4039,6.1,1.100,0.16,4.4,0.033,8.0,109.0,0.99058,3.35,0.47,12.4,4
1951,9.9,1.005,0.46,1.4,0.046,34.0,185.0,0.99660,3.02,0.49,10.2,4
2781,7.8,0.965,0.60,65.8,0.074,8.0,160.0,1.03898,3.39,0.69,11.7,6
2154,9.8,0.930,0.45,8.6,0.052,34.0,187.0,0.99940,3.12,0.59,10.2,4
1856,10.0,0.910,0.42,1.6,0.056,34.0,181.0,0.99680,3.11,0.46,10.0,4

# Filtering data

In [24]:
#our filter
freesulfurdioxide = data_sorted['free sulfur dioxide']>10
print(type(freesulfurdioxide))
#resturn result
freesulfurdioxide

<class 'pandas.core.series.Series'>

4039    False
1951     True
2781    False
2154     True
1856     True
        ...
2370     True
4538     True
3652     True
1475     True
968      True
Name: free sulfur dioxide, Length: 3961, dtype: bool

In [25]:
data_sorted[freesulfurdioxide]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1951,9.9,1.005,0.46,1.4,0.046,34.0,185.0,0.99660,3.02,0.49,10.2,4
2154,9.8,0.930,0.45,8.6,0.052,34.0,187.0,0.99940,3.12,0.59,10.2,4
1856,10.0,0.910,0.42,1.6,0.056,34.0,181.0,0.99680,3.11,0.46,10.0,4
372,6.6,0.905,0.19,0.8,0.048,17.0,204.0,0.99340,3.34,0.56,10.0,5
1476,7.1,0.850,0.49,8.7,0.028,40.0,184.0,0.99620,3.22,0.36,10.7,5
...,...,...,...,...,...,...,...,...,...,...,...,...
2370,6.3,0.100,0.24,6.0,0.039,25.0,107.0,0.99511,3.59,0.49,10.5,7
4538,7.1,0.090,0.30,6.2,0.032,24.0,134.0,0.99300,2.99,0.39,10.9,6
3652,6.6,0.085,0.33,1.4,0.036,17.0,109.0,0.99306,3.27,0.61,9.5,6
1475,7.2,0.080,0.49,1.3,0.050,18.0,148.0,0.99450,3.46,0.44,10.2,6
968,6.5,0.080,0.33,1.9,0.028,23.0,93.0,0.99100,3.34,0.70,12.0,7

# Duplicating

In [26]:
duplicate_rows_df = data_sorted[data_sorted.duplicated()]
print(f"number of duplicate rows:{ duplicate_rows_df.shape}")

number of duplicate rows:(0, 12)

In [27]:
dataset = dataset.drop_duplicates()
dataset.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6

# Appending

In [31]:
dataset.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [32]:
rows = [pd.Series([2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4],index = dataset.columns),
       pd.Series([2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4],index = dataset.columns),
       pd.Series([2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4],index = dataset.columns)]

In [34]:
new_data = dataset.append(rows,ignore_index = True)

In [35]:
new_data.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
3959,5.5,0.29,0.30,1.1,0.0220,20.0,110.0,0.98869,3.340,0.38,12.8,7.0
3960,6.0,0.21,0.38,0.8,0.0200,22.0,98.0,0.98941,3.260,0.32,11.8,6.0
3961,2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4.0
3962,2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4.0
3963,2.8,0.22,0.40,1.2,0.2201,34.0,100.0,0.99312,3.212,0.31,11.0,4.0